{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="our-services t-30">
            <div class="container">
                <!-- Section Tittle -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-tittle text-center">
                            <span></span>
                            <h2>Browse Top Companines </h2>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-contnet-center">
                     {% for company in company_list %}
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                            <div class="single-services text-center mb-30">
                                <div class="services-ion">
                                    <span class="flaticon-tour"></span>
                                </div>
                                <div class="services-cap">
                                   <h5><a href="{% url 'company-jobs' company.slug %}">{{ company.title }}</a></h5>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}  </div>
        <div class="row">
           <div class="col-md-12">
               <nav aria-label="Page navigation example" class="d-flex justify-content-center mt-4 mb-4">
                 <ul class="pagination">
                {% if pagination.has_previous %}
                    <li class="page-item">
                        <a href="?page=1" class="page-link">&laquo;</a>
                    </li>
                     <li class="page-item">
                        <a href="?page={{ pagination.previous_page_number}}" class="page-link">&lsaquo;</a>
                    </li>
                {% else %}
                     <li class="page-item disabled">
                         <a class="page-link">&laquo;</a>
                     </li>
                      <li class="page-item disabled">
                         <a class="page-link">&lsaquo;</a>
                     </li>
                {% endif %}
                {% for i in pagination.paginator.page_range %}
                     {% if pagination.number == i %}
                       <li class="page-item active">
                           <p class="page-link"><strong >{{ i }}</strong></p>
                       </li>
                     {% elif i > pagination.number|add:'-2' and i < pagination.number|add:'2' %}
                       <li class="page-item">
                         <a href="?page={{ i }}" class="page-link">{{ i }}</a>
                       </li>
                     {% endif %}
                 {% endfor %}
                 {% if pagination.has_next %}
                     <li class="page-item">
                        <a href="?page={{ pagination.next_page_number }}" class="page-link">&rsaquo;</a>
                     </li>
                     <li class="page-item">
                        <a href="?page={{ pagination.paginator.num_pages }}" class="page-link">&raquo;</a>
                     </li>
                   {% else %}
                         <li class="page-item disabled">
                        <a class="page-link">&rsaquo;</a>
                     </li>
                      <li class="page-item disabled">
                        <a class="page-link">&raquo;</a>
                      </li>
                 {% endif %}
                 </ul></nav></div>
        </div>
                </div>
                <!-- More Btn --></div></div>
            </div>
        </div>

{% endblock %}