{% extends 'base.html' %}
{% load static %}
{% block content %}
  <style>

  </style>
    <main>

        <!-- slider Area Start-->
        <div class="slider-area " >
            <!-- Mobile Menu -->
            <div class="slider-active" >
                <div class="single-slider slider-height d-flex align-items-center" data-background="{% static '/img/hero/h1_hero2.jpg' %}" >
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6 col-lg-9 col-md-10">
                                <div class="hero__caption">
                                    <h1 style="color:#4b56f2;font-size:50px;">Find the most exciting startup jobs</h1>
                                </div>
                            </div>
                        </div>
                        <!-- Search Box -->

                        <div class="row">
                            <div class="col-xl-8" >
                                <!-- form -->
                                <form style="background-color:white;" id="my_form" method="get" action="{% url 'search' %}" class="search-box">
                                    <div class="input-form">
                                        <input type="text" name="job" placeholder="Job Tittle or keyword">
                                    </div>
                                    <div class="input-form" >
                                            <input type="text" name="location" placeholder="Location">
                                    </div>
                                    <div class="search-form">
                                        <a href="javascript:{}" onclick="document.getElementById('my_form').submit(); return false;">Find job</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->
        <!-- Our Services Start -->
        <div class="our-services section-pad-t30">
            <div class="container">
                <!-- Section Tittle -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-tittle text-center">
                            <span>FEATURED TOURS Packages</span>
                            <h2>Browse Top Categories </h2>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-contnet-center">
                    {% for category in category %}
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-services text-center mb-30">
                            <div class="services-ion">
                                <span class="flaticon-tour"></span>
                            </div>
                            <div class="services-cap">
                               <h5><a href="{% url 'category-jobs' category.slug %}">{{ category.title }}</a></h5>
                                <span></span>
                            </div>
                        </div>
                    </div>{% endfor %}
                </div>
                <!-- More Btn -->
                <!-- Section Button -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="browse-btn2 text-center mt-20">
                            <a href="{% url 'categorylist' %}" class="border-btn2">Browse All Category</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Our Services End -->
        <!-- Featured_job_start -->
            <div class="container">
                <!-- Section Tittle -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-tittle text-center">
                            <span>Recent Job</span>
                            <h2>Featured Jobs</h2>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-xl-10">
                    {% for job in jobss %}
                        <!-- single-job-content -->
                        <div class="single-job-items mb-30">
                            <div class="job-items">
                                <div class="company-img">
                                    <a href="#"><img src="{% static 'img/icon/job-list1.png' %}" alt=""></a>
                                </div>
                                <div class="job-tittle">
                                    <a href="{% url 'job-details' job.slug %}"><h4>{{ job.title }}</h4></a>
                                    <ul>
                                        <li><i class="fas fa-building"></i><a href="{% url 'company-jobs' job.company_name.slug %}">  {{ job.company_name }}</a></li>
                                        <li><i class="fas fa-map-marker-alt"></i><a href="{% url 'location-jobs' job.job_location.slug %}">  {{ job.job_location }}</a></li>

                                        <li>{% if job.type == 'Full time' %}
                                        <span class="badge featured-badge badge-success">Full time</span>
                                    {% elif job.type == 'Part time' %}
                                        <span class="badge featured-badge badge-primary">Part time</span>
                                    {% else %}
                                        <span style="color: #ffffff;" class="badge featured-badge badge-warning">Internship</span>
                                    {% endif %}</li>

                                        <li>Posted {{ job.created_at|timesince }} </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="items-link f-right">
                                <a href="{% url 'job-details' job.slug %}">Apply Now</a>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>

        <!-- Featured_job_end -->
        <br><br><br>
               <!-- Our Services Start -->
        <div class="our-services">
            <div class="container">
                <!-- Section Tittle -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-tittle text-center">
                            <span>FEATURED TOURS Packages</span>
                            <h2>Browse Top Locations </h2>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-contnet-center">
                     {% for loaction in location %}
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                            <div class="single-services text-center mb-30">
                                <div class="services-ion">
                                    <span class="flaticon-tour"></span>
                                </div>
                                <div class="services-cap">
                                   <h5><a href="{% url 'location-jobs' loaction.slug %}">{{ loaction.title }}</a></h5>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!-- More Btn -->
                <!-- Section Button -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="browse-btn2 text-center mt-20">
                            <a href="{% url 'locationlist' %}" class="border-btn2">Browse All Locations</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Our Services End -->
       <br><br><br> <br>           <!-- Our Services Start -->
        <div class="our-services">
            <div class="container">
                <!-- Section Tittle -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-tittle text-center">
                            <span>FEATURED TOURS Packages</span>
                            <h2>Browse Top Companines </h2>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-contnet-center">
                     {% for company in company %}
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                            <div class="single-services text-center mb-30">
                                <div class="services-ion">
                                    <span class="flaticon-tour"></span>
                                </div>
                                <div class="services-cap">
                                   <h5><a href="{% url 'company-jobs' company.slug %}">{{ company.title }}</a></h5>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!-- More Btn -->
                <!-- Section Button -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="browse-btn2 text-center mt-20">
                            <a href="{% url 'companylist' %}" class="border-btn2">Browse All Companies</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Our Services End -->
<br><br><br>
        <!-- How  Apply Process Start-->
        <div class="apply-process-area apply-bg pt-150 pb-150" data-background="{% static 'img/gallery/how-applybg.png' %}">
            <div class="container">
                <!-- Section Tittle -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-tittle white-text text-center">
                            <span>Apply process</span>
                            <h2> How it works</h2>
                        </div>
                    </div>
                </div>
                <!-- Apply Process Caption -->
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-process text-center mb-30">
                            <div class="process-ion">
                                <span class="flaticon-search"></span>
                            </div>
                            <div class="process-cap">
                               <h5>1. Search a job</h5>
                               <p>Sorem spsum dolor sit amsectetur adipisclit, seddo eiusmod tempor incididunt ut laborea.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-process text-center mb-30">
                            <div class="process-ion">
                                <span class="flaticon-curriculum-vitae"></span>
                            </div>
                            <div class="process-cap">
                               <h5>2. Apply for job</h5>
                               <p>Sorem spsum dolor sit amsectetur adipisclit, seddo eiusmod tempor incididunt ut laborea.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-process text-center mb-30">
                            <div class="process-ion">
                                <span class="flaticon-tour"></span>
                            </div>
                            <div class="process-cap">
                               <h5>3. Get your job</h5>
                               <p>Sorem spsum dolor sit amsectetur adipisclit, seddo eiusmod tempor incididunt ut laborea.</p>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
        </div>
        <!-- How  Apply Process End-->


    </main>
{% endblock %}