{% extends 'base1.html' %}
{% load static %}

{% block title %}
    Job details
{% endblock %}

{% block content %}

    <section class="bg-light-gray">
        <div class="container">
            <h1 class="heading">{{ job.title }}<br>
                <small>at <a href="#"> {{ job.company_name }}</a></small>
            </h1>
            <div class="job-detail-description"><i class="fa fa-map-marker job__location"> </i>
             {{ job.job_location }} | Posted {{ job.created_at|timesince }} |
                {% if job.type == 'Full time' %}
                                        <span class="badge featured-badge badge-success">Full time</span>
                                    {% elif job.type == 'Part time' %}
                                        <span class="badge featured-badge badge-primary">Part time</span>
                                    {% else %}
                                        <span style="color: #ffffff;" class="badge featured-badge badge-warning">Internship</span>
                                    {% endif %}
            </div>
        </div>
    </section>
    <section>




<!----           JOb description Details.... ----->
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <h3>Category: {{ job.category_type }}</h3>

                    <h5>Last date: {{ job.last_date|date }}</h5>

                    <h5 class="text-info">Salary: {% if job.salary > 0 %} {{ job.salary }}/Monthly {% else %} Negotiable {% endif %} </h5>

                    <h5>Job Type : {% if job.type == 'Full time' %}
                                        <span class="badge featured-badge badge-success">Full time</span>
                                    {% elif job.type == 'Part time' %}
                                        <span class="badge featured-badge badge-primary">Part time</span>
                                    {% else %}
                                        <span style="color: #ffffff;" class="badge featured-badge badge-warning">Internship</span>
                                    {% endif %}</h5><br>
                    <blockquote class="blockquote">
                        <h5>JOB DESCRIPTION:</h5>
                        <p>{{ job.description }}</p>
                    </blockquote>
                    <div class="job-detail__apply-bottom">
                                <form action="#" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="job" value="{{ job.id }}">
                                    <input type="submit" class="btn btn-outline-white-primary"
                                           value="Apply for this job"/>
                                </form>

                    </div>
                </div>
                <div class="col-lg-1"></div>

            </div>
        </div>
    </section>



{% endblock %}